@use "../abstracts/" as *;
@use "./font-face" as *;
/*------------------GENERAL--------------------*/

body {
  font-family: $font-family-base;
  background-color: var(--neutral-very-dark-blue);
}

* {
  font-family: "overpass";
}
